/**
 * Project overview specific css.
 */
table tr.po_project td {
  padding-left: 3px;
  padding-right: 3px;
}

.po_project td.on_track {
  background-color: #EEFFD4;
}

.po_project td.off_track {
  background-color: #FF7A7C;
}

.po_project td.intervention {
  background-color: #FDECDA;
}

.po_project td.veering {
  background-color: #FFFCD9;
}

.po_project td.po_progress {
  width: 150px;
}

/**
 * Team member specific css.
 */
.po_team_member {
	float: left;
	display: inline-block;
	height: 150px;
	width: 220px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 5px;
	padding: 5px;
}

.po_team_member .upper_left {
	float: left;
	margin-right: 5px;
}

.po_team_member .upper_right {
	float: right {
}

.po_team_member .clear {
	clear: both;
}

.po_team_member p {
	margin: 0;
	padding: 0;
}